.header__title {
  background-image: url('../../images/pattern-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 250px;
  padding-top: 40px;
}
.header__title h3 {
  font-size: 1.5625rem;
  color: var(--White);
  margin-bottom: 20px;
}
.header__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__bar {
  display: flex;
  align-items: center;
  width: 400px;
}
input {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  border: none;
  background-color: var(--White);
}
input::placeholder {
  font-size: 0.9375rem;
  color: var(--Dark-Gray);
}
.btn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--Very-Dark-Gray);
  padding: 15px 15px;
}
.report__box {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  width: 750px;
  background-color: var(--White);
  border-radius: 10px;
}
.report__spacing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}
.report {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.report:not(:first-child) {
  padding-left: 25px;
  border-left: 1px solid var(--Dark-Gray);
}
.report h4 {
  color: var(--Dark-Gray);
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .report__box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .report__spacing {
    flex-direction: column;
  }
  .report {
    width: 100%;
    text-align: center;
  }
  .report:not(:first-child) {
    padding-left: 0px;
    margin-top: 25px;
    border-left: none;
  }
}
@media (max-width: 600px) {
  .header__title {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .report__box {
    margin-top: 15px;
  }
  .search__bar {
    width: 90%;
  }
}
