@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@400;500&display=swap');
:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
  --White: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.App {
  min-height: 100vh;
}
